/* Medium */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: white;
}
.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 300px;
}
.item{
    background: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: gray 1px solid;
}
img{
    height: 200px;
    width: 200px;
}